<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title> Password recovery </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form
    action=""
    [formGroup]="formForgoPassword"
    (ngSubmit)="onResetPassword()"
  >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text class="ion-padding">
            Provide the email address associated with your account to recover
            your password.
          </ion-text>
          <ion-item lines="none">
            <ion-input
              type="email"
              fill="outline"
              formControlName="email"
              placeholder="E-mail"
              errorText="This field is required
              "
              email
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            expand="block"
            class="ion-margin-horizontal"
            [disabled]="formForgoPassword.invalid"
          >
            Send
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
