<ion-list>
  <ion-list-header>
    <ion-label>Ejercicios Pendientes</ion-label>
  </ion-list-header>

  <ion-card class="ion-padding" *ngFor="let exercise of pendingExercises">
    <div>
      <div>
        <ion-chip> {{ exercise.sets }} x {{ exercise.reps }} </ion-chip>
        <ion-card-title>{{ exercise.name }}</ion-card-title>
      </div>
    </div>
    <div class="content-container">
      <ion-label>180 lbs</ion-label>
    </div>
    <ion-checkbox
      [checked]="exercise.completed"
      (ionChange)="completedToogle(exercise)"
    ></ion-checkbox>
    <ion-icon
      size="large"
      color="danger"
      name="close-circle-outline"
      (click)="deleteExercise(exercise)"
    ></ion-icon>
  </ion-card>
</ion-list>

<ion-list>
  <ion-list-header>
    <ion-label>Ejercicios Completados</ion-label>
  </ion-list-header>

  <ion-card class="ion-padding" *ngFor="let exercise of completedExercises">
    <div>
      <div>
        <ion-chip> {{ exercise.sets }} x {{ exercise.reps }} </ion-chip>
        <ion-card-title
          [style.text-decoration]="exercise.completed ? 'line-through' : 'none'"
          >{{ exercise.name }}</ion-card-title
        >
      </div>
    </div>
    <div class="content-container">
      <ion-label>180 lbs</ion-label>
    </div>
    <ion-checkbox
      [checked]="exercise.completed"
      (ionChange)="completedToogle(exercise)"
    ></ion-checkbox>
    <ion-icon
      size="large"
      color="danger"
      name="close-circle-outline"
      (click)="deleteExercise(exercise)"
    ></ion-icon>
  </ion-card>
</ion-list>

<ion-button id="open-modal" expand="block">
  <ion-icon name="add-circle-outline"></ion-icon>
  <ion-label>Agregar Ejercicio</ion-label>
</ion-button>

<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Welcome</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-exercise-create (save)="handleSave($event)"></app-exercise-create>
    </ion-content>
  </ng-template>
</ion-modal>
